/*Волшебство сказок*/
.gameLocationWrapper-animals::-webkit-scrollbar-thumb {
  background-color: #714A11;
}
.gameLocationWrapper-animals::-webkit-scrollbar-track {
  background-color: #e4ecf8;
  border-radius: 0;
}
.animalsLocation .popUp__locationPicture{
  background-image: url(../assets/locations/animals/animals.png);
}
.animalsLocation .popUp__locationName{
  color: #429F40;
}
.gameLocation-animals{
  background: url(../assets/locations/animals/map.png) center center no-repeat;
  background-size: cover;
  .levelsTop__allStars{
    color: #714A11;
  }
  .menu-star{
    background-color: #714A11;
  }
  .newElement{
    background-color: #714A11;
  }
  .menu__button-back{
    background-image: url(../assets/locations/animals/home.svg);
  }
  .leaderBoard{
    background-image: url(../assets/locations/animals/leader.svg);
  }
  .switchShop{
    background-image: url(../assets/locations/animals/shop.svg);
  }
  .switchShowLocation{
    background-image: url(../assets/locations/animals/locations.svg);
  }
}
.gameLocation-animals::-webkit-scrollbar-thumb {
  //border-radius: 0;
  background-color: #714A11;
}
@media (min-width: 1000px) {
  .gameLocation-animals .location__lastLevel{
    box-shadow: 0 0 25px 10px #714A11;
  }
}

.gameLocation-animals .location__upLevel{
  top: 25%;
}