/*Волшебство сказок*/
.gameLocationWrapper-event::-webkit-scrollbar-thumb, .gameLocationWrapper-event .levels-wrapper::-webkit-scrollbar-thumb {
  background-color: #E44500;
}
.gameLocationWrapper-event::-webkit-scrollbar-track {
  background-color: #e4ecf8;
  border-radius: 0;
}
.eventLocation .popUp__locationPicture{
  background-image: url(../assets/locations/event/event.png);
}
.eventLocation .popUp__locationName{
  color: #E44500;
}
.gameLocation-event{
  .svgIcon{
    fill: #E44500;
  }
  background: url(../assets/locations/event/map.png) center center no-repeat;
  background-size: cover;
  .levelsTop__allStars{
    color: #E44500;
  }
  .menu-star, .newElement{
    background-color: #ec4400;
  }
  .eventProperty{
    background: url(../assets/locations/event/map.png) center center no-repeat;
    background-size: cover;
  }
}
.gameLocationWrapper-event{
  .rules__menu{
    background-color: #E44500;
  }
  .rules .settings__text{
    color: #E44500;
  }
  .rules .svgIcon{
    fill: #E44500;
  }
}
.gameLocation-event::-webkit-scrollbar-thumb {
  //border-radius: 0;
  background-color: #E44500;
}
@media (min-width: 1000px) {
  .gameLocation-event .location__lastLevel{
    box-shadow: 0 0 25px 10px #E44500;
  }
}

@media (orientation: portrait) {
  .gameLocation-event, .gameLocation-event .eventProperty{
    background: url(../assets/locations/event/map_port.png) center center no-repeat;
    background-size: cover;
  }
}
//
//
//.gameLocationWrapper-event .rules__menu{
//  width: 105%;
//  background: url(../assets/locations/event/head.svg) center center no-repeat;
//  background-size: 100%;
//}
//.gameLocationWrapper-event .rules{
//  background: url(../assets/locations/event/bg.svg) center center no-repeat;
//  background-size: cover;
//}
//.gameLocationWrapper-event .rules:before{
//  content: "";
//  position: absolute;
//  left: -10%;
//  top: 50%;
//  transform: translateX(-50%);
//
//  width: 120%;
//  height: 80%;
//
//  background: url(../assets/locations/event/bg_zad.png) center center no-repeat;
//  background-size: cover;
//
//  z-index: -1;
//}