/*День валентина*/
.gameLocationWrapper-games::-webkit-scrollbar-thumb, .levels-wrapper::-webkit-scrollbar-thumb {
  background-color: #B4361A;
}
.gameLocationWrapper-games::-webkit-scrollbar-track {
  background-color: #e4ecf8;
  border-radius: 0;
}
.gamesLocation .popUp__locationPicture{
  background-image: url(../assets/locations/games/games.png);
}
.gamesLocation .popUp__locationName{
  color: #9B2308;
}
.gameLocation-games{
  .svgIcon{
    fill: #B4361A;
  }
  background: url(../assets/locations/games/map.png) center center no-repeat;
  background-size: cover;
  .levelsTop__allStars{
    color: #9B2308;
  }
  .menu-star, .newElement{
    background-color: #B4361A;
  }
  .gamesProperty{
    background: url(../assets/locations/games/map.png) center center no-repeat;
    background-size: cover;
  }
}
.gameLocationWrapper-games{
  background: url(../assets/locations/games/map.png) center center no-repeat !important;
  background-size: cover !important;
}
.location.gameLocation-games{
  background: none;
}
.gameLocationWrapper-games{
  .rules__menu{
    background-color: #9B2308;
  }
  .rules .settings__text{
    color: #9B2308;
  }
  .rules .svgIcon{
    fill: #B4361A;
  }
}
.gameLocation-games::-webkit-scrollbar-thumb {
  //border-radius: 0;
  background-color: #B4361A;
}
@media (min-width: 1000px) {
  .gameLocation-games .location__lastLevel{
    box-shadow: 0 0 25px 10px #FF5A36;
  }
}

@media (orientation: portrait) {
  .gameLocationWrapper-games{
    background: url(../assets/locations/games/map_port.png) center center no-repeat !important;
    background-size: cover !important;
  }
}