/*Новый год*/
.gameLocationWrapper-newYear::-webkit-scrollbar-thumb {
  background-color: #DC5E5E;
}
.gameLocationWrapper-newYear::-webkit-scrollbar-track {
  background-color: #e4ecf8;
  border-radius: 0;
}
.newYearLocation .popUp__locationPicture{
  background-image: url(../assets/locations/newYear/newYear.png);
}
.newYearLocation .popUp__locationName{
  color: #2486CD;
}
.gameLocation-newYear{
  .svgIcon{
    fill: #DC5E5E;
  }
  background: url(../assets/locations/newYear/newYear-map.png) center center no-repeat;
  background-size: cover;
  .levelsTop__allStars{
    color: #DC5E5E;
  }
  .menu-star{
    background-color: #DC5E5E;
  }
  .newElement{
    background-color: #DC5E5E;
  }
}
@media (min-width: 1000px) {
  .gameLocation-newYear .location__lastLevel{
    box-shadow: 0 0 25px 10px #DC5E5E;
  }
}

@media (orientation: portrait) {
  .gameLocation-newYear{
    background: url(../assets/locations/newYear/map_port.png) center center no-repeat;
    background-size: cover;
  }
}