
/*Фон 3*/

#app.chosenAppBg-3, .chosenAppBg-3 .game, .chosenAppBg-3 .levels{
  //background-image: url(../assets/bgSpring/bgSpring.png);
  background-image: url(../assets/bgSpring/bgSpring-big.png);
}

@media (min-width: 1800px) {
  #app.chosenAppBg-3, .chosenAppBg-3 .game, .chosenAppBg-3 .levels{
    background-image: url(../assets/bgSpring/bgSpring-big.png);
  }
}

.chosenAppBg-3{
  .levelsTop__allStars{
    color: #3A307D;
  }
  .leaderBoard{
    background-image: url(../assets/bgSpring/leader.svg);
  }
  .switchShop{
    background-image: url(../assets/bgSpring/shop.svg);
  }
  .switchShowLocation{
    background-image: url(../assets/bgSpring/locations.svg);
  }
  .newElement{
    background-color: #6C72F0;
  }
  .words__letters-block_done .words__letter, .action-block__letters .action-block__letter_selected{
    background-color: #6C72F0;
  }
  .menu__button-back{
    background-image: url(../assets/bgSpring/home.svg);
  }
  .menu__tip{
    background-image: url(../assets/bgSpring/tip.svg);
  }
  .menu__tip_count, .rules__goBg{
    background-color: #6C72F0;
  }
  .shop, .rules{
    border-color: #3A307D;
  }
  .shop .rules__menu, .settings__text{
    color: #3A307D;
  }
  .rules__cross{
    background-image: url(../assets/bgSpring/cross.svg);
  }
  .menu__button-next-level_active{
    background-image: url(../assets/bgSpring/arrow.svg);
  }
  .switchSettings{
    background-image: url(../assets/bgSpring/settings.svg);
  }
  ::-webkit-scrollbar-thumb {
    background-color: #6C72F0;
  }
  .settings{
    border-color: #3A307D;
  }
  .checkbox:checked + label:after {
    background-color: #22278b;
  }
  .checkbox:checked + label:before {
    background: #6C72F0;
  }

  .newWord .words__letter{
    background-color: #9499ff;
  }
  .animWord .words__letter{
    animation: 1s showNewWord5 forwards;
  }
  @keyframes  showNewWord5{
    0%{background-color: rgba(255, 255, 255, 0.85);}
    100%{background-color: #9499ff;}
  }

  //Магазин
  .shop__cart__item_2{
    background-image: url(../assets/bgSpring/cart1.svg);
  }
  .shop__cart__item_3{
    background-image: url(../assets/bgSpring/cart2.svg);
  }
  .shop__cart__item_4{
    background-image: url(../assets/bgSpring/cart3.svg);
  }
  .shop__cart__name{
    color:#3A307D;
    border-color: #3A307D;
  }
  .shop__cart__item{
    border-color: #3A307D;
  }

  .wordWas .words__letter{
    background-color: #39307c;
  }

  .menu__hint{
    background-color: rgba(108, 114, 240, 0.9);
  }

  .levels .menu-star {
    background-color: #6C72F0;
  }
  .menu__level .level_full-star {
    background: url(../assets/bgSpring/star.svg) center center no-repeat;
    background-size: 100%;
  }
  .menu__level .level_full-star.getStar{
    animation: showFullStar2 1s forwards;
  }
  @keyframes showFullStar2 {
    0%{
      transform: scale(1);
    }
    50%{
      transform: scale(2);
    }
    100%{
      transform: scale(1);
      background: url(../assets/bgSpring/star.svg) center center no-repeat;
      background-size: 100%;
    }
  }
  .skipTutorial{
    background-color: #6C72F0;
  }
  .cloudHint{
    color: #6C72F0;
  }
  .cloudHint__mainText{
    color: #6C72F0;
  }
  .leaderBoardInfo__player{
    border-color: #6C72F0;
  }

  @media (orientation: portrait){
    .shop__cart__buy-button{
      background-color: #3A307D;
    }
  }
}