@import 'newYear';
@import 'magicTales';
@import 'animals';
@import 'eightMarch';
@import 'fbv';
@import 'birds';
@import 'cinema';
@import 'event';
@import 'default';
@import 'farm';
@import 'halloween';

.locationOpened{
    overflow: auto !important;
}
.popUp{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 500px;

    z-index: 12;

    max-width: 95%;
}
.popUp__header{
    position: relative;
    width: 100%;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
}
.popUp__title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    font-size: 2rem;
    color: #2B2B2B;
    background: #FFFFFF;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.27);
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
}
.popUp__close{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);

    width: 40px;
    height: 40px;
    border-radius: 50%;

    background: url(../assets/blackCross.svg) center center no-repeat, white;
    background-size: 50%;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.27);

    cursor: pointer;
}
.popUp__elements{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 10px;
}
.popUp__location{
    flex: 0 0 auto;

    height: 240px;
    width: 140px;
    background-color: white;

    border-radius: 15px;
    overflow: hidden;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    margin-right: 40px;

    cursor: pointer;
}
.popUp__elements .popUp__location:last-child{
    margin: 0;
}
.popUp__locationPicture{
    position: relative;
    background: url(../assets/locations/closedLocation.png) center center no-repeat;
    background-size: 100%;
    width: 100%;
    height: 184px;

    border-radius: 0 0 15px 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.popUp__locationStars{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);

    font-size: 1.5rem;
    color: white;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.popUp__locationName{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.6rem;

    height: 56px;

    font-size: 1.5rem;
    color: #737373;
}
.closedLocation{
    cursor: auto;
}

@media (min-width: 1000px) {
    .popUp{
        width: 800px;
    }
    .popUp__header{
        margin-bottom: 40px;
    }
    .popUp__title{
        width: 240px;
        height: 60px;
        font-size: 2.8rem;
    }
    .popUp__close{
        width: 60px;
        height: 60px;
    }
    .popUp__location{
        width: 240px;
        height: 380px;
    }
    .popUp__locationPicture{
        height: 280px;
    }
    .popUp__locationStars{
        font-size: 2.5rem;
    }
    .popUp__locationName{
        height: 100px;
        font-size: 2.4rem;
        line-height: 2.6rem;
    }

}

/*Локация*/
.location{
    position: relative;
    width: 300%;
    height: 100%;
    overflow-x: auto;
    cursor: pointer;
    margin-right: 100px;
}
.location .menu__button-back{
    display: inline-block;
}
.location .level_close{
    cursor: auto;
}
.location .levelsTop{
    position: fixed;
}
.location__level{
    position: absolute;
    top: 57%
}
.location__upLevel{
    top: 35%;
}
.locationOpened .rules-blackout, .locationOpened .popUp, .locationOpened .shop, .locationOpened .blurBackground, .locationOpened .game{
    position: fixed;
}

.location .levelsTop .switchShowLocation{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2) !important;
}



@media (min-width: 1600px) {
    .location__level{
        width: 120px;
        height: 120px;
        font-size: 6rem;
    }
    .location__level .level_star{
        width: 20px;
        height: 20px;
    }
    .location__level .menu__level_stars{
        bottom: -27px;
    }
    .location .newElement{
        width: 39px;
        height: 39px;
    }
    .location .newElement__circle{
        width: 13px;
        height: 13px;
    }
}



@media (orientation: portrait) {
    .location{
        height: 300%;
        width: 100%;
    }

    .location__level{
        top: auto !important;
        left: 57% !important;
    }
    .location__upLevel{
        top: auto !important;
        left: 27% !important;
    }
    .location .bottomMenu{
        position: fixed;
        left: 0;
        bottom: 0;

        width: 100%;
    }

}