
::-webkit-scrollbar-button {
  background-repeat:no-repeat;
  width:6px;
  height:0;
}

::-webkit-scrollbar-track {
  background-color: #261624;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #ad63b6;
}

::-webkit-resizer{
  background-repeat:no-repeat;
  width: 5px;
  height: 0;
}

::-webkit-scrollbar{
  width: 5px;
  height: 10px;
}
@font-face {
  font-family: 'Roboto';
  src: url('../assets/Roboto.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../assets/Robotobold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu-Light';
  src: url('../assets/Ubuntu-Light.ttf');
  font-weight: normal;
  font-style: normal;
}
html,body
{
  width:100%;
  height:100%;
  font: 10px/1.5 Roboto, sans-serif;
  -webkit-tap-highlight-color: transparent;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  user-select: none;
}
.words, .action-block, .rules{
  font-family: Ubuntu-Light, sans-serif;
}

.svgIcon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55%;
  height: 55%;
  fill: #66196C;
}
.menu__button-back .svgIcon, .menu__tip .svgIcon{
  width: 60%;
  height: 60%;
}
.switchShowLocation{
  margin-left: 25px;
}
.newElement{
  position: absolute;
  top: -3px;
  right: -4px;

  width: 20px;
  height: 20px;
  background-color: #b17bc1;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}
.level .newElement{
  top: -2px;
  right: -2px;
}
.newElement__circle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 7px;
  height: 7px;

  border-radius: 50%;
  background-color: white;
}
.level-done .newElement, .level_close .newElement{
  display: none;
}
.switchRules{
  font-size: 3.5rem;
  color: #faf5ac;
  cursor: pointer;
}
.switchShop, .leaderBoard, .switchSettings, .switchShowLocation{
  display: inline-block;
}
.leaderBoard{
  margin-right: 25px;
}


.rules-blackout{
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);

  cursor: pointer;
  z-index: 9;
}
.main-blackout{
  z-index: 11;
}
.rules_lb{
  overflow: hidden;
}
@media (min-height: 500px){
  .rules_lb{
    height: 500px !important;
  }
  .leaderBoardInfo{
    height: 400px !important;
  }
  .rules__text{
    height: 420px !important;
  }
}
@media (min-height: 700px){
  .rules__text{
    height: 600px !important;
  }
}
@media (max-height: 330px){
  .rules__text{
    height: 225px !important;
  }
}
.leaderBoardInfo{
  width: 90%;
  margin: 0 auto;
  height: 220px;
  padding: 05px;
  overflow-y: auto;

  font-size: 1.5rem;
}
.leaderBoardInfo .settings__text{
  text-align: center;
  font-size: 2rem !important;
}
.leaderBoardInfo_my{
  background-color: #e8e6f9;
}
.lastRang{
  margin-bottom: 80px !important;
}
.leaderBoardInfo__playerInfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leaderBoardInfo__player{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #a15eb9;

  padding: 7px 15px;
  border-radius: 10px;

  margin-bottom: 5px;
}
.leaderBoardInfo__image{
  width: 50px;
  height: 50px;
  margin: 0 15px;

  border-radius: 50%;

  background-size: cover !important;
}
.leaderBoardInfo__image_no{
  background: url("../assets/user.png") center center no-repeat !important;
  background-size: cover !important;
}
.leaderBoardInfo_1{
  font-size: 2.4rem;
}
.leaderBoardInfo_1 .leaderBoardInfo__image{
  width: 70px;
  height: 70px;
}
.leaderBoardInfo_2{
  font-size: 2.1rem;
}
.leaderBoardInfo_2 .leaderBoardInfo__image{
  width: 62px;
  height: 62px;
}
.leaderBoardInfo_3{
  font-size: 1.75rem;
}
.leaderBoardInfo_3 .leaderBoardInfo__image{
  width: 55px;
  height: 55px;
}

.rules{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);



  padding: 8px;
  width: 520px;

  font-size: 1.4rem;
  color: #302431;

  border: 3px solid #9e6db5;
  border-radius: 15px;
  background-color: rgba(250,250,250, 0.9);

  z-index: 12;
}
.rules__text{
  width: 99%;
  margin: 0 auto;
  overflow-y: auto;
  height: 250px;
  font-size: 1.7rem;
}
.rules__text img{
  margin: 10px 0;
  width: 99%;
}
.rules__notification{
  font-size: 1.8rem;
}
.rules__cross{
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.rules__cross .svgIcon{
  width: 100%;
  height: 100%;
}
.rules__menu{
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  color: #302431;

  margin: 5px 0 15px 0;
}
#app, .game, .levels{
  background: url(../assets/bg-new.png) 50% no-repeat;
  background-size: cover;
}
@media (min-width: 1800px) {
  #app, .game, .levels{
    background: url(../assets/bg-new-big.png) 50% no-repeat;
    background-size: cover;
  }
}
#app, .game, .property, .levels, .levels__property{
  position: relative;

  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  user-select: none;

  overflow: hidden;
}
.game{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  animation: getLevels 0.4s ease-in forwards;
}
.levelsAnim{
  z-index: 5;
  animation: getLevels 0.4s ease-in forwards;
}
@keyframes getLevels {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.property{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}


.blur{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.15);
}


/*Уровни*/
.levels__property{
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
}
.levels{

}
.levelsTop{
  position: absolute;
  left: 50%;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 540px;
  height: 70px;

  z-index: 3;
  transform: translateX(-50%);
}
.levelsTop__allStars{

  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;

  padding: 0 12px;


  font-size: 2.2rem;
  line-height: 2.2rem;
  color: #66196C;

  background-color: rgba(255, 255, 255, 0.95);
  opacity: 0.85;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  border-radius: 25px;


  letter-spacing: 2px;

  cursor: pointer;
}

.levelsTop__allStars_withoutLB{
  margin-left: 0;
}


.levels .menu-star{

  background-color: #E5C726;
  opacity: 1;
}
//.levelsTop__allStars .menu-star{
//  width: 22px;
//  height: 22px;
//  margin-left: 0;
//
//  background: url(../assets/menu-all-star.png) center center no-repeat;
//  background-size: 100%;
//}
//.sounds{
//  right: 30px;
//  top: 50%;
//  transform: translateY(-50%);
//  position: absolute;
//
//  width: 30px;
//  height: 30px;
//
//  background: url(../assets/sounds-off.png) center center no-repeat;
//  background-size: 100%;
//
//  cursor: pointer;
//}
//.sounds-on{
//  background: url(../assets/sounds-on.png) center center no-repeat;
//  background-size: 100%;
//}
.levels-wrapper{
  position: relative;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: auto;

  margin-top: 60px;
  padding: 10px;
}
.level{
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;


  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 50%;

  margin: 0 20px 26px 0;

  font-size: 2.9rem;
  color: #2C2C2C;

  cursor: pointer;

  box-shadow: 0 0 4px rgba(159, 102, 173, 0.4);

}
.levels-wrapper::before, .levels-wrapper::after {
  content: '';
  width: 100%;
  order: 1;
}
.level:nth-child(7n){
  margin-right: 0;
}
.level:nth-child(n + 8) {
  order: 1;
}
.level:nth-child(n + 15) {
  order: 2;
}
.level-done{
  /*color: #bb9bc5;*/
  /*border-color: #bb9bc5;*/
  /*box-shadow: none;*/
}
.level_close{
  color: #9A9A9A;
}
.menu__level_stars{
  display: flex;

  justify-content: center;
}
.level .menu__level_stars{
  position: absolute;
  left: 0;
  bottom: -15px;

  width: 100%;

  cursor: auto;

  justify-content: center;
}


.rules .settings__text{
  font-size: inherit;
}



/*Игра*/
.property{
  /*z-index: 2;*/
}
/*Меню*/
.menu{
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  padding: 5px 0;

  display: flex;
  justify-content: space-around;
  align-items: center;


  color: white;

  /*background: rgba(0,0,0,0.1);*/

  z-index: 3;
}
.tutorialMenu{
  z-index: auto;
}
.menuItem{
  position: relative;
  width: 40px;
  height: 40px;

  border-radius: 50%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);

  background: rgba(255, 255, 255, 0.85);

  cursor: pointer;
  outline: none;
}
.levelsTop .menuItem, .bottomMenu .menuItem{
  width: 50px;
  height: 50px;
}
.menu__tip_count, .advert{
  position: absolute;
  bottom: 0;
  right: -8px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 5px;

  font-size: 1.2rem;

  background-color: #ad63b6;
  border-radius: 7px;

  user-select: none;
}
.menu__tip_count{
  color: white;
  background-color: #66196C;
  font-weight: bold;
  width: 35px;
  padding: 0 5px;
  right: -22px;
  height: 15px;
}
.advert{
  width: 15px;
  height: 15px;

  background: url("../assets/advert.png") center center no-repeat white;
  background-size: 80%;
}
.menu__level, .menu__words-amount{
  font-size: 2.2rem;
  letter-spacing: 1px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
.menu__words-amount{
  position: relative;
  min-width: 60px;
  text-align: center;
}
.menu__words-amount:after, .menu__button-next-level:after, .menu__button-back:after, .menu__tip:after, .prev-location:after, .next-location:after, .switchSettings:after, .popUp__close:after, .switchShowLocation:after{
  position: absolute;
  content: '';
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
}
.menu__level{
  position: relative;
}

.menu__hint{
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #f8f7f8;
  display: none;
  padding: 5px;
  border-radius: 10px;
  font-size: 1.2rem;
  color: #f8f7f8;
  background-color: rgba(164, 104, 183, 0.9);
}
.menu__level .menu__hint{
  bottom: -52px;
  width: 300px;
  text-align: center;
}
.menu__level:hover .menu__hint{
  display: block;
}
.menu__button-next-level .menu__hint{
  bottom: -125px;
}

.menu__words-amount:hover .menu__hint, .menu__button-next-level:hover .menu__hint{
  display: block;
}
.menu__button-next-level .svgIcon{
  left: 55%;
}
.menu__button-next-level_notActive{
  cursor: auto;
}
.menu__button-next-level_notActive .svgIcon{
  fill: #B4ABB5 !important;
}
.menu__button-next-level_active .menu__hint{
  display: none !important;
}
.menu__button-next-level_active:active{
  transform: scale(0.98);
}

.menu__level .level_star{
  margin-right: 2px;

}
.level_star{
  width: 8px;
  height: 8px;

  border-radius: 50%;

  background-color: #DFDFDF;

}
.menu__level_stars .level_star{
  margin-right: 4px;
}
.menu__level_stars .level_star:last-child{
  margin-right: 0;
}
.menu__level .level_star{
  background: url(../assets/empty-star.png) center center no-repeat;
  background-size: 100%;

  width: 15px;
  height: 15px;
}
.menu__level .menu__level_stars{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.menu__level .level_full-star.getStar{
  animation: showFullStar 1s forwards;
}
.menu__level .level_full-star{
  background: url(../assets/menu-star.png) center center no-repeat;
  background-size: 100%;
}
@keyframes showFullStar {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(2);
  }
  100%{
    transform: scale(1);
    background: url(../assets/menu-star.png) center center no-repeat;
    background-size: 100%;
  }
}
.next-location, .prev-location{
  position: absolute;
  top: 99px;

  width: 14px;
  height: 53px;


  background: url(../assets/angle-left.svg) center center no-repeat;
  background-size: 100%;

  cursor: pointer;
  z-index: 2;
}
.next-location{
  background: url(../assets/angle-right.svg) center center no-repeat;
  background-size: 100%;
  right: 10px;
}
.next-location:active, .prev-location:active{
  transform: scale(0.98);
}
.prev-location{
  left: 10px;
}
/*Блок со всеми словами*/
.words{
  display: flex;
  flex-flow: column wrap;

  width: 100%;
  max-height: 54%;

  margin-top: 50px;

  padding: 10px;

  overflow-x: auto;
}
.words::-webkit-scrollbar { width: 0; }
.words__letters-block{
  display: flex;
  flex-flow: row nowrap;


  margin-bottom: 5px;
  padding-right: 30px;

  cursor: pointer;
}

.words__letter-block_swing{
  animation: swing2 1.5s;
}
@keyframes swing2 {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }

}
.words__letters-block_done .words__letter{
  /*background-color: rgba(166,82,174);*/
  color: white;
  background-color: #BA6FC6;
}
.action-block__letters .action-block__letter_selected{
  color: white;
  background-color: #BF63C7;
}
.action-block__letters .action-block__letter_notSelected{
  position: absolute;
  top: -1px;
  left: -1px;
  background-color: rgba(0,0,0,0.5);
}
.words__letter, .action-block__letter{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;

  margin: 1px;

  border-radius: 26%;

  font-size: 2.1rem;
  text-transform: uppercase;

  background-color: rgba(255, 255, 255, 0.9);

}
.action-block__letter{
  border-radius: 15%;
  background-color: white;
  color: #2C1345;
  position: relative;
}
.tutorialSelected{
  z-index: 10;
}
.words__letter{
  background-color: rgba(255, 255, 255, 0.85);
}
.animWord .words__letter{
  animation: 1s showNewWord forwards;
  /*animation-delay: 0.2s;*/
}
.newWord .words__letter{
  background-color: #CC6F9C;
}
@keyframes  showNewWord{
  0%{
    background-color: rgba(255, 255, 255, 0.85);
  }
  100%{
    background-color: #CC6F9C;
  }
}
/*Взаимодействие*/
.done-word{
  z-index: 10;
  position: relative;
  text-shadow: 0 0 4px rgb(0, 0, 0);
}
.action-block__done-word{
  min-height: 30px;

  font-size: 2.3rem;
  line-height: 2.3rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.done-word{
  position: relative;
  display: inline-block;
}
.badWord{
  animation: tremor 0.05s ease-in-out infinite;
}

@keyframes tremor2 {
  0%{
    background-color: rgba(166,82,174,0.9);
  }
  100% {
    background-color: rgba(87, 41, 100, 0.9);
  }
}
@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    -ms-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    -ms-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    -ms-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    -ms-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    -ms-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
.wordWas .words__letter{
  animation-duration: 1s;
  animation-fill-mode: both;
  transform-origin: center center;
  animation-name: swing;
  background-color: #66196C;
}



/*Магазин*/
.shop{
  min-height: 280px;
  border: 3px solid #9e6db5;
  border-radius: 15px;
  background-color: rgba(250,250,250, 0.9);

  height: 310px;

  min-width: 500px;
  width: 540px;
}
.mainShop{
  font-family: 'Roboto', sans-serif;
}
.shop .rules__menu{
  margin: 5px 0 15px 0;
  color: #514056;
}
.shopPopUp .popUp__elements{
  justify-content: space-between;
}
.shop__cart__item{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;

  height: 225px;

  background-color: white;
  border: 1px solid #9e6db5;
  padding: 5px;
  border-radius: 10px;

  width: 150px;

  cursor: pointer;
}
.shop__cart__name{
  margin: 15px 0 5px 0;
  text-align: center;
  color: #6C1969;
  font-size: 1.3rem;
  border-bottom: 1px solid #6C1969;
}
.shop__cart__item_1, .shop__cart__item_2, .shop__cart__item_3, .shop__cart__item_4{
  position: relative;
  width: 100%;
  height: 150px;
  flex: 1 0;
}

.shop__cart__card .svgIcon{
  top: auto;
  bottom: 0;
  transform: translate(-50%, 0);

  height: 70%;
  width: auto;
}
//.shop__cart__item_2 .svgIcon, .shop__cart__item_3 .svgIcon{
//  width: 60%;
//  height: 60%;
//}
.cart__item_tip{
  position: absolute;
  top: 80%;
  right: 25%;
  bottom: auto;
  font-size: 1.2rem;
  padding: 0 6px;
}



.shop__cart__item_2 .cart__item_tip{
  right: 28%;
}
.shop__cart__item_3 .cart__item_tip{
  right: 29%;
}
.shop__cart__item_4 .cart__item_tip{
  right: 31%;
}

.shop__cart__buy-button{
  text-align: center;
  font-size: 1.5rem;

  color: black;

  display: flex;
  justify-content: center;
  align-items: center;
}
.shop__cart__buy-button:hover{
  box-shadow: none;
}
.shop__cart__buy-button:active{
  transform: scale(0.98);

}
.cart__item_tip{
  top: 83%;
}






@keyframes tremor {
  0%, 25% {
    left: -1px;
    transform: translateX(-5%);
  }
  50%, 100% {
    left: 1px;
    transform: translateX(5%);
  }
}
.action-block__letters{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.action-block__letter{
  width: 40px;
  height: 40px;

  font-size: 2.4rem;
  margin-right: 7px;

  cursor: pointer;
  -ms-user-select: none;

  -moz-user-select: none;
  -khtml-user-select: none;


  -webkit-user-select: none;
}
.action-block__button-send{
  display: block;

  margin-left: 25px;

  width: 40px;
  height: 40px;

  background: url(../assets/sendWord.png) center center no-repeat, white;
  background-size: 70%;

  border-radius: 15%;



  cursor: pointer;

  outline: none;
}
.action-block__button-send:active{
  transform: scale(0.98);
  outline: none;
}
.words__letter, .action-block__letter, .action-block__button-send{
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}
@media (max-width: 600px) {
  .level{
    width: 55px;
    height: 55px;
    margin-right: 17px;
    font-size: 2.7rem;
  }
}
@media (min-width: 1000px) {
  .levelsTop{
    width: 750px;
  }
  .levelsTop .menuItem, .bottomMenu .menuItem{
    width: 70px;
    height: 70px;
  }
  .rules__menu{
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  .rules{
    font-size: 2rem;
    padding: 20px 30px 30px 30px;
    width: auto;

    max-width: 650px;
  }
  .rules__notification{
    font-size: 2.3rem;
    padding-bottom: 15px;
  }

  .rules__cross{
    top: 25px;
    right: 25px;
    width: 35px;
    height: 35px;
  }

  .advert {
    width: 20px;
    height: 20px;
  }



  .shop{
    width: 650px;
    height: 350px;
  }
  .shop__cart{
    height: 255px;
  }
  .shop__cart__item{
    width: 240px;
    height: 380px;
  }
  .shop__cart__item_2, .shop__cart__item_3, .shop__cart__item_4{
    height: 230px;
  }

  .shop__cart__name{
    font-size: 2rem;
  }

  .shop__cart__buy-button{
    font-size: 2.15rem;
  }




  .levels-wrapper{
    margin: 0 auto;
  }
  .property{
    max-width: 1200px;
    margin: 0 auto;
  }
  .levels-wrapper{
    max-width: 1000px;
    margin: 0 auto;
  }
  .level{
    width: 90px;
    height: 90px;

    margin-bottom: 30px;

    font-size: 4.3rem;
  }
  .level .menu__level_stars{
    bottom: -18px;
  }
  .level_star{
    width: 13px;
    height: 13px;
  }
  .menu__level_stars .level_star {
    margin-right: 5px;
  }


  /*Игра*/
  .menu__button-back, .menu__button-next-level{
    width: 60px;
    height: 60px;
  }
  .next-location, .prev-location{
    width: 28px;
    height: 106px;
    top: 123px;
  }
  .next-location:active, .prev-location:active{
    transform: scale(0.98);
  }
  .menu__words-amount, .menu__level{
    font-size: 2.6rem;
  }
  .menu__level .menu__hint{
    bottom: -62px;
    width: 400px;
    font-size: 1.55rem;
  }
  .menu__hint{
    font-size: 1.4rem;
    bottom: -32px;
  }

  .menu__button-next-level .menu__hint {
    bottom: -85px;
    left: -40px;
    font-size: 1.55rem;
    width: 200px;
  }


  .menu__level .level_star{
    width: 22px;
    height: 22px;
  }
  .menu__tip{
    width: 60px;
    height: 60px;
  }
  .menu__tip_count{
    font-size: 1.7rem;
    line-height: 1.7rem;
    width: 50px;
    right: -30px;
    height: 20px;
  }
  .cart__item_tip{
    font-size: 1.3rem;
  }



  .words{
    margin-top: 80px;
  }
  .words__letter{
    width: 40px;
    height: 40px;

    font-size: 2.5rem;
  }
  .action-block__letter{
    width: 60px;
    height: 60px;
    font-size: 3.3rem;
  }
  .action-block__button-send{
    width: 62px;
    height: 62px;
  }
  .action-block__done-word{
    font-size: 3rem;
  }
}



.shop__lastPrice{
  color: red;
  position: relative;
  margin-right: 5px;
}
.now-price{
  margin-right: 4px;
}
.shop__lastPrice:before{
  content: "";
  width: 0.8px;
  height: 90%;
  left: 40%;
  top: 1px;
  background-color: red;
  position: absolute;
  transform: rotate(120deg) translateX(-50%);
}
.adv-show{
  min-width: auto;
  width: 350px;
  text-align: center;
  font-size: 1.8rem;
}

@media (min-width: 1000px) {
  .adv-show{
    width: 500px;
    font-size: 2.1rem;
  }
}
.ya-rules{
  padding: 5px 5px 10px 5px;
}
.ya-rules .rules__menu{
  font-size: 4rem;
}
.ya-button{
  width: 150px;
  padding: 5px 0;
  margin: 10px auto 0 auto;
  font-size: 2.3rem;
}

/*Настройки*/
.settings{
  position: absolute;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  padding: 10px;
  margin-left: auto;

  color: #2F2F2F;


  background-color: white;


  z-index: 10;

  animation: showSettings 0.4s ease-in-out forwards;

  overflow-y: auto;
  border-radius: 0 20px 20px 0;

  border: 2px solid #8769C6;
  border-left: none;

}
.settings::-webkit-scrollbar { /* chrome based */
  width: 0px;  /* ширина scrollbar'a */
  background: transparent;  /* опционально */
}

.settings {
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

.settings ul{
  padding: 0;
}
.settings__blackout{
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;

  cursor: pointer;
}
.settings__blackout{
  animation: showBlackout 0.4s ease-in-out forwards;
}

@keyframes showBlackout {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes showSettings {
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0);
  }
}
.settings__header{
  text-align: center;
  font-size: 2.7rem;
  color: #111112;


  margin-bottom: 7px;
}
.settings li{
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.settings__name{
  flex: 1;
  font-size: 1.5rem;
}




.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.checkbox + label {
  position: relative;

  width: 100%;

  display: flex;
  align-items: center;
  font-size: 1.7rem;


  cursor: pointer;
  padding-right: 50px;
}

.checkbox + label:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 45px;
  height: 20px;
  border-radius: 15px;
  background: #CDD1DA;
  transition: 0.2s;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18);
}
.checkbox + label:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-53%);
  right: 28px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35);
  transition: 0.2s;
}
.checkbox:checked + label:after {
  right: 0;
  background-color: #AE69C6;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
}
.checkbox:checked + label:before {
  background: #E4B5F4;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.settings__text{
  font-size: 1.7rem;
  color: #AE69C6;
  cursor: pointer;
}


.our-games{
  font-size: 2rem;
}
/*.wfw{*/
/*  background: url(wfw.png) center center no-repeat;*/
/*}*/
.wfl{
  background: url(../assets/wfl.png) center center no-repeat;
}
.crs{
  background: url(../assets/crs.png) center center no-repeat;
}
.stm{
  background: url(../assets/stm.png) center center no-repeat;
}
/*.tm{*/
/*  background: url(tm.png) center center no-repeat;*/
/*  border: 1px solid rgba(0,0,0,.05);*/
/*  border-left: 0;*/
/*  border-right: 0z§;*/
/*  border-radius: 6px;*/
/*}*/
.my-game{
  width: 195px;
  height: 105px;
  background-size: cover;
  border-radius: 15px;
}


@media (min-width: 1000px) {
  .settings__header{
    font-size: 2.9rem;

    margin-bottom: 20px;
  }
  .my-game{
    width: 180px;
    height: 100px;

  }
  .settings{
    width: 300px;
  }
  .levelsTop{
    height: 95px
  }
  .levelsTop__allStars{
    height: 70px;
    font-size: 3rem;
  }
  .levelsTop__allStars .menu-star {
    width: 30px;
    height: 30px;
  }
  .switchSettings, .leaderBoard, .switchShop, .switchShowLocation{
    width: 60px;
    height: 60px;
  }
}

.levels__loc{
  position: absolute;
  right: 7px;
  bottom: 7px;


  width: 28px;
  height: 28px;

  background-color: white;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.7rem;
  color: black;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);

  cursor: pointer;
}
.levels__loc_big{
  font-size: 1.25rem;
}


@media (min-width: 1000px) {
  .levels__loc{
    width: 50px;
    height: 50px;
    right: 10px;
    bottom: 10px;
    font-size: 3rem;
  }
  .levels__loc_big{
    font-size: 2.6rem;
  }
}
.word-definition{
  overflow: auto;
  user-select: text;
  max-height: 100%;
}
.word-mean{
  //overflow: hidden;
  overflow-y: auto;
  font-size: 2rem;
  padding-bottom: 2px;
  display: flex;
  flex-flow: column nowrap;

}


@media (max-height: 350px) {
  .levelsTop__allStars{
    height: 35px;
    font-size: 2rem;
    line-height: 2rem;
  }

}
a{
  text-decoration: none;
}
b{
  font-weight: normal;
}
@media (max-height: 350px) {
  .newElement{
    width: 16px;
    height: 16px;
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
  .level .newElement{
    width: 18px;
    height: 18px;
  }
  .newElement__circle{
    width: 6px;
    height: 6px;
  }
  .levelsTop{
    height: 50px;
    width: 487px;
  }
  .levelsTop .menuItem, .bottomMenu .menuItem {
    width: 40px;
    height: 40px;
  }
  .level{
    font-size: 2.5rem;
  }
  .levels-wrapper {
    margin-top: 45px;
    padding: 3px;
  }
  .next-location, .prev-location {
    width: 25px;
    height: 35px;
  }
  .shop{
    height: 280px;
  }
  .shop__cart{
    height: 205px;
  }
}
.level__big{
  font-size: 2.2rem;
}
.levels-wrapper_bigLevels .level__big{
  font-size: 2rem;
}
@media (min-width: 1000px) {
  .level__big{
    font-size: 3.5rem;
  }
  .levels-wrapper_bigLevels .level__big{
    font-size: 3.4rem;
  }
}
.authText{
  text-decoration: underline;
}


.cloudHint{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;

  width: 212px;
  height: 148px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 1.6rem;
  color: #9C4B94;
  line-height: 2rem;

  padding: 24px 17px;

  background: url(../assets/cloud.svg) center center no-repeat;
  background-size: 100%;

  z-index: 10;
}
.cloudHint_wordSelected{
  left: auto;
  right: 10px;
}
.cloudHint__mainText{
  color: #92378E;
  font-weight: bold;
}
.skipTutorial{
  position: absolute;
  left: 15px;
  top: 15px;

  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  color: white;

  background-color: #BF63C7;
  border-radius: 10px;
  padding: 2px 10px;

  z-index: 10;

  cursor: pointer;
}

@media (min-width: 1000px) {
  .newElement{
    width: 27px;
    height: 27px;
    font-size: 2rem;
    line-height: 2rem;
    right: -5px;
  }
  .level .newElement{
    width: 30px;
    height: 30px;
    right: -4px;
    top: -4px;
  }
  .newElement__circle{
    width: 11px;
    height: 11px;
  }
  .menu{
    padding: 10px 0;
  }
  .cloudHint{
    width: 318px;
    height: 222px;
    font-size: 2.2rem;
    line-height: 2.5rem;
  }
  .skipTutorial{
    font-size: 2rem;
    padding: 4px 15px;
    border-radius: 15px;
  }
}
@media (min-width: 1250px) {
  .menu{
    width: 1200px;
    left: 50%;
    margin-left: -600px;
    justify-content: space-between;
  }
  .words{
    //padding: 0;
  }
}

.changeDesign{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chosenBg{
  position: relative;

  width: 185px;
  height: 104px;
  background: url(../assets/settings/bg0.png) center center no-repeat;
  background-size: 100%;

  border-radius: 10px;
}
.chosenBg-3{
  background-image: url(../assets/settings/bg-3.png);
}
.chosenBg-2{
  background-image: url(../assets/settings/bg-2.png);
}
.chosenBg-1{
  background-image: url(../assets/settings/bg-1.png);
}
.chosenBg1{
  background-image: url(../assets/settings/bg1.png);
}
.chosenBg2{
  background-image: url(../assets/settings/bg2.png);
}
.chosenBg3{
  background-image: url(../assets/settings/bg3.png);
}

.changeLeft, .changeRight{
  width: 20px;
  height: 39px;

  background: url(../assets/changeBgLeft.svg) center center no-repeat;
  background-size: 100%;

  cursor: pointer;
}
.changeRight{
  background: url(../assets/changeBgRight.svg) center center no-repeat;
  background-size: 100%;
}


.closedBg{
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);

  color: #bdbdbd;
  font-size: 1.3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
}

.rules__goBg{
  color: white;
  background-color: #BA6FC6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  font-size: 2.5rem;
  padding: 5px 10px;
  width: 185px;
  margin: 10px auto;
  cursor: pointer;
}
.bgRules{
  font-size: 2rem;
}

#definitionIframe{
  width: 100%;
  flex-grow: 3;
}
.closedIframe{
  display: none;
}
.showBigWordWas{
  font-size: 20px;
  height: 150px;
  min-height: 150px;
  width: 500px;
  padding: 8px !important;
}
.snowAnimation{
  display: none;
}
.banner-wrapper{
  width: 1000px;
  max-width: 90%;
  height: 150px;
  display: none;
}
@media (min-height: 650px) {
  .banner-wrapper{
    display: block;
  }
  .levels__property{
    padding-top: 150px;
  }
}
.levelClosedText{
  font-size: 2rem;
}
@media (min-width: 1000px) {
  .levelClosedText{
    font-size: 2.2rem;
  }
}
@media (min-height: 350px) {
  .action-block__letters{
    margin-bottom: 25px;
  }
}
// Вертикальная игра



.bottomMenu{
  display: none;
}

@media (orientation: portrait) {
  //Игра
  .menu{
    justify-content: space-between;
    padding: 10px;
  }
  .words{
    margin-top: 65px;
  }
  .menu .menu__words-amount, .menu .menu__tip{
    display: none;
  }
  .action-block__letters{
    position: relative;
    flex-wrap: wrap;
    margin: 0;
  }
  .action-block__letters:after {
    content:'';
    width:100%;
    order:0;
  }
  .breakForPortrait, .breakForPortrait ~ .action-block__letter{
    order: 1;
    margin-top: 13px;
  }
  .action-block__letters .action-block__button-send{
    display: none;
  }

  .bottomMenu{
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .bottomMenu .action-block__button-send{
    margin: 0;
  }

  .menu__words-amount{
    color: white;
  }

  //Меню
  .levels__property{
    overflow-y: auto;
  }

  .levels-wrapper{
    width: 260px;
    height: auto;
    margin-top: 20px;
  }
  .levels-wrapper .levels__loc{
    display: none;
  }
  .levels-wrapper::before, .levels-wrapper::after{
    content: '';
    width: 0;
  }

  .prev-location{
    left: -30px;
  }
  .next-location{
    right: -25px;
  }
  .prev-location, .next-location{
    top: 50%;
    transform: translateY(-50%);
  }
  .next-location:active, .prev-location:active{
    transform: scale(0.98) translateY(-50%);
  }

  .level{
    margin-right: 30px;
    margin-bottom: 22px;
  }
  .level:nth-child(7n){
    margin-right: 30px;
  }
  .level:nth-child(n + 8) {
    order: 0;
  }
  .level:nth-child(n + 15) {
    order: 0;
  }

  .levelsTop{
    width: 100%;
    height: 60px;
    padding: 8px 8px 0 8px;
    align-items: start;
  }
  .levelsTop .switchShowLocation, .levelsTop .leaderBoard{
    display: none;
  }



  .levels .bottomMenu{
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;

    padding: 0 8px 8px 8px;

    justify-content: space-between;
    align-items: end;

    z-index: 2;
  }
  .bottomMenu .levels__loc{
    position: static;
  }
  .bottomMenu .switchShowLocation, .bottomMenu .leaderBoard{
    margin: 0;
  }

  .levels__property{
    padding: 0;
  }
  .banner-wrapper{
    display: none;
  }

  //Магазин
  .shop__cart__item{
    flex: 0 0 auto;
    margin-right: 30px;
  }
  .popUp__elements .shop__cart__item:last-child{
    margin-right: 0;
  }

  .rules{
    max-width: 99%;
    min-width: auto;
  }
  .leaderBoardInfo{
    width: 100%;
    padding: 0;
  }
  .leaderBoardInfo_1{
    font-size: 2rem;
  }
  .leaderBoardInfo_1 .leaderBoardInfo__image{
    width: 65px;
    height: 65px;
  }
  .leaderBoardInfo_2{
    font-size: 1.8rem;
  }
  .leaderBoardInfo_2 .leaderBoardInfo__image{
    width: 60px;
    height: 60px;
  }
  .leaderBoardInfo_3{
    font-size: 1.7rem;
  }

  .rules__menu{
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .rules__cross{
    width: 25px;
    height: 25px;
    right: 10px;
  }
  .shop{
    height: 500px;
    max-height: 90%;
  }

  //Локация
  //.location{
  //  width: 100% !important;
  //  height: 100%;
  //}
  //.location__levels{
  //  position: absolute;
  //  top: 50%;
  //  left: 0;
  //  transform: translateY(-50%);
  //  background: url(../assets/locations/eightMarch/map.png) center center no-repeat;
  //  background-size: cover;
  //  width: 300vh;
  //  height: 100vw;
  //}
  //.blurLocationBackground{
  //  position: fixed;
  //  top: 0;
  //  left: 0;
  //
  //  width: 100%;
  //  height: 100%;
  //
  //  backdrop-filter: blur(5px);
  //}


  .property .bottomMenu{
    align-items: center;
  }


  .menu__words-amount .menu__hint{
    bottom: auto;
    top: -32px;
  }
  .menu__button-next-level .menu__hint{
    left: 0;
  }

  .cloudHint_wordSelected{
    top: 80%
  }

  .shopPopUp .popUp__elements{
    flex-direction: column;
    align-items: center;
  }
  .shop__cart__item{
    height: 70px;
    width: 100%;
    margin: 0 0 20px 0;

    flex-flow: row nowrap;
    justify-content: space-between;


    background-color: transparent;
    border: none;
  }
  .shop__cart__card{
    width: 68%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    background-color: white;
    border-radius: 23px;
  }
  .shop__cart__name{
    font-size: 1.7rem;
    line-height: 1.7rem;
    margin: 0 10px 0 0;
    border: none;

    color: #202020 !important;
  }

  .shop__cart__item_1, .shop__cart__item_2, .shop__cart__item_3, .shop__cart__item_4{
    width: 50px;
    height: 80%;
  }
  .shop__cart__item .svgIcon{
    width: 100%;
    height: 100%;
  }
  .shop__cart__item_2 .svgIcon{
    left: 45%;
  }

  .shop__cart__buy-button{
    width: 27%;
    background-color: #6C1969;
    color: white;
    border-radius: 23px;
    font-size: 1.8rem;
  }


}

@media (orientation: portrait) and (max-width: 350px) {
  .shop__cart__name{
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}





@media (orientation: portrait) and (max-height: 560px){
  .levels-wrapper{
    height: 80%;
  }

}
@media (orientation: portrait) and (max-height: 600px){

  .levelsTop .menuItem, .bottomMenu .menuItem {
    width: 40px;
    height: 40px
  }
  .levelsTop__allStars{
    height: 35px;
    font-size: 2rem;
    line-height: 2rem;
  }

  .level{
    width: 46px;
    height: 46px;
    font-size: 2.7rem;
  }
  .level__big{
    font-size: 2rem;
  }
  .levels-wrapper_bigLevels .level__big{
    font-size: 1.8rem;
  }
  .level .menu__level_stars{
    bottom: -12px;
  }
  .level .level_star{
    width: 7px;
    height: 7px;
  }

  .action-block__letter{
    width: 37px;
    height: 37px;
  }


}
@media (orientation: portrait) and (min-height: 720px){
  .levels-wrapper{
    width: 300px;
  }
  .level{
    width: 60px;
    height: 60px;
    font-size: 3.1rem;

    margin-bottom: 28px;
    margin-right: 35px;
  }
  .level:nth-child(7n){
    margin-right: 35px;
  }
  .level__big{
    font-size: 2.4rem;
  }
  .levels-wrapper_bigLevels .level__big{
    font-size: 2.2rem;
  }
  .level .menu__level_stars{
    bottom: -15px;
  }
  .level .level_star{
    width: 9px;
    height: 9px;
  }
}
@media (orientation: portrait) and (min-height: 800px){
  .level{
    width: 65px;
    height: 65px;
    font-size: 3.1rem;

    margin-bottom: 28px;
    margin-right: 35px;
  }

}

@media (orientation: portrait) and (min-width: 601px){
  .levels-wrapper{
    width: 360px;
  }
  .level, .level:nth-child(7n){
    margin-right: 45px;
  }

}

@media (orientation: portrait) and (min-width: 1000px) {
  .shopPopUp{
    width: 400px !important;
  }
  
}

@media (orientation: portrait) {
  .level:nth-child(3n){
    margin-right: 0;
  }
}


@media (orientation: landscape) and (min-height: 600px) {
  .word-mean{
    height: 600px;
  }
  
}
@media (min-width: 1000px) and (min-height: 700px) {
  .game{
    //padding-bottom: 150px;
  }
}

.whyBadWord{
  height: auto;
  font-size: 2rem;
}

.bannerForVertical{
  position: relative;
  display: none;
  height: 75px;
  flex: 0 0 75px;
  width: 100%;
}

.lbInGame{
  white-space: nowrap;

  height: 100%;
}

.bannerContainer{
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.container-lbInGame{
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.container-lbInGame::-webkit-scrollbar { width: 0; height: 0}
.container-lbInGame { -ms-overflow-style: none; }
.container-lbInGame { overflow: -moz-scrollbars-none; }

.lbInGame__player{
  position: relative;

  display: inline-block;

  width: 50px;
  height: 50px;

  border-radius: 50%;
  margin: 12.5px 10px 0 10px;
  background-color: whitesmoke;
  background-size: cover !important;

  border: 1px solid black;

  vertical-align: middle;
}

.lbInGame__score{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: -12px;
  left: 0;
  font-size: 12px;
  color: #2C1345;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 7px;
  border-top: none;
}
.lbInGame__score .level_star{
  position: absolute;
  right: -15px;
  top: 0;
}

.dontShowFirstRank{
  display: none;
}
.lbInGame .leaderBoardInfo_my{
  animation: myLb 1.5s;
  width: 62px;
  height: 62px;
  margin-top: 0;
}
.lbInGame .leaderBoardInfo_my .lbInGame__score{
  font-size: 15px;
}

@keyframes myLb {
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0);
  }
}
@media (min-height: 600px) {
  .bannerForVertical{
    display: block;
  }
  .action-block{
    margin: 15px 0;
  }
  .bottomMenu{
    margin-bottom: 10px;
  }
}

@media (min-height: 700px) {
  .bannerForVertical{
    height: 100px;
    flex: 0 0 100px;
  }
  .lbInGame__player{
    width: 65px;
    height: 65px;
    margin-top: 17.5px;
  }
  .lbInGame__score{
    font-size: 15px;
  }
  .lbInGame .leaderBoardInfo_my{
    width: 80px;
    height: 80px;
  }
  .lbInGame .leaderBoardInfo_my .lbInGame__score{
    font-size: 18px;
  }
}

//@media (min-height: 750px) {
//  .bannerForVertical{
//    height: 150px;
//    flex: 0 0 150px;
//  }
//  .lbInGame__player{
//    width: 85px;
//    height: 85px;
//    margin-top: 32.5px;
//  }
//  .lbInGame__score{
//    font-size: 18px;
//  }
//  .lbInGame .leaderBoardInfo_my{
//    width: 100px;
//    height: 100px;
//  }
//  .lbInGame .leaderBoardInfo_my .lbInGame__score{
//    font-size: 21px;
//  }
//}