
/*Фон 3*/

#app.chosenAppBg-1, .chosenAppBg-1 .game, .chosenAppBg-1 .levels{
  background-image: url(../assets/bgHalloween/bgH.png);
}

@media (min-width: 1800px) {
  #app.chosenAppBg-1, .chosenAppBg-1 .game, .chosenAppBg-1 .levels{
    background-image: url(../assets/bgHalloween/bgH-big.png);
  }
}

.chosenAppBg-1{
  .svgIcon{
    fill: #103A4C;
  }
  .levelsTop__allStars{
    color: #103A4D;
  }
  .newElement{
    background-color: #103A4D;
  }
  .words__letters-block_done .words__letter, .action-block__letters .action-block__letter_selected{
    background-color: #3C9BA8;
  }
  .menu__tip_count, .rules__goBg{
    background-color: #103A4D;
  }
  .rules__menu, .leaderBoardInfo_my .leaderBoardInfo__rank, .leaderBoardInfo_my .leaderBoardInfo__playerInfo, .startCreateGame{
    background-color: #103A4D;
  }
  .shop, .rules, .leaderBoardInfo_my .leaderBoardInfo__image{
    border-color: #103A4D;
  }
  .shop .rules__menu, .settings__text{
    color: #103A4D;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #3C9BA8;
  }
  .settings{
    border-color: #103A4D;
  }
  .checkbox:checked + label:after {
    background-color: #3C9BA8;
  }
  .checkbox:checked + label:before {
    background: #B5E9F4;
  }

  .newWord .words__letter{
    background-color: #22dcdc;
  }
  .animWord .words__letter{
    animation: 1s showNewWord4 forwards;
  }
  @keyframes  showNewWord4{
    0%{background-color: rgba(255, 255, 255, 0.85);}
    100%{background-color: #22dcdc;}
  }

  //Магазин
  .shop__cart__name{
    color: #103A4D;
    border-color: #103A4D;
  }
  .shop__cart__item{
    border-color: #103A4D;
  }

  .wordWas .words__letter{
    background-color: #092736;
  }
  .menu__hint{
    background-color: rgba(16, 58, 77, 0.9);
  }

  .skipTutorial{
    background-color: #3C9BA8;
  }
  .cloudHint, .cloudHint__mainText{
    color: #3C9BA8;
  }
  .leaderBoardInfo__player, .lbInGame__player, .lbInGame__score{
    border-color: #3C9BA8;
  }
  @media (orientation: portrait){
    .shop__cart__buy-button{
      background-color: #103A4D;
    }
  }
}