
/*Фон Валентин*/

#app.chosenAppBg5, .chosenAppBg5 .game, .chosenAppBg5 .levels{
  background-image: url(../assets/bgGreen/bgGreen.png);
}

.chosenAppBg5{
  .svgIcon{
    fill: #0B7341;
  }
  .shop__cart__card .svgIcon{
    fill: #16CA73;
  }
  .shop__cart__card .shop__cart__name{
    color: #16CA73;
  }
  .shop__cart__buy-button{
    background: linear-gradient(264.82deg, #10E0A2 2.88%, #1EB26B 96.18%);
    box-shadow: 0px 3px 0px #267A42;
  }
  .levelsTop__allStars{
    color: #0B7341;
  }
  .newElement, .levels .menu-star{
    background-color: #16CA73;
  }
  .words__letters-block_done .words__letter, .action-block__letters .action-block__letter_selected{
    background-color: #14A861;
    color: white;
  }
  .menu__tip_count, .rules__goBg{
    background-color: #0B7341;
  }
  .rules__menu, .leaderBoardInfo_my .leaderBoardInfo__rank, .leaderBoardInfo_my .leaderBoardInfo__playerInfo, .startCreateGame{
    background-color: #0B7341;
  }
  .shop, .rules, .leaderBoardInfo_my .leaderBoardInfo__image{
    border-color: #0B7341;
  }
  .shop .rules__menu, .settings__text{
    color: #0B7341;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #16CA73;
  }
  .settings{
    border-color: #0B7341;
  }
  .checkbox:checked + label:after {
    background: #179357;
  }
  .checkbox:checked + label:before {
    background-color: #1bde80;
  }

  .newWord .words__letter{
    background-color: #006c37;
  }
  .animWord .words__letter{
    animation: 1s showNewWord9 forwards;
  }
  //Смена названия
  @keyframes  showNewWord9{
    0%{background-color: rgba(255, 255, 255, 0.85);}
    100%{background-color: #006c37;}
  }

  //Магазин
  .shop__cart__name{
    color:#1bc481;
    border-color: #0B7341;
  }
  .shop__cart__item{
    border-color: #0B7341;
  }

  .wordWas .words__letter{
    background-color: #054c2c;
  }

  .menu__hint{
    background-color: rgba(11, 115, 65, 0.9);
  }
  .skipTutorial{
    background-color: #16CA73;
  }
  .cloudHint{
    color: #16CA73;
  }
  .cloudHint__mainText{
    color: #16CA73;
  }
  .leaderBoardInfo__player, .lbInGame__player, .lbInGame__score{
    border-color: #16CA73;
  }

  .endGame__header, .endGame__nextLevel{
    background: linear-gradient(265.01deg, #00BB61 6.23%, #009821 97.6%);
  }
  .endGame__firstPrize{
    fill: rgba(1, 175, 75, 1);
  }
  .endGame__secondPrize{
    fill: rgba(22, 202, 115, 1);
  }
  .endGame__menu{
    border-color: rgba(0, 152, 33, 1);
  }
  .endGame__firstStop{
    stop-color: rgba(0, 187, 97, 1);
  }
  .endGame__secondStop{
    stop-color: rgba(0, 152, 33, 1);
  }

  @media (orientation: portrait){
    .shop__cart__buy-button{
      background-color: #0B7341;
    }
  }
  .action-block__letter{
    color: #003118;
  }
  @media (max-width: 1400px) {
    .blur{
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}
@media (orientation: portrait) {
  #app.chosenAppBg5, .chosenAppBg5 .game, .chosenAppBg5 .levels{
    background-image: url(../assets/bgGreen/bgVertical.png);
  }
}