
/*Фон 3*/

#app.chosenAppBg-2, .chosenAppBg-2 .game, .chosenAppBg-2 .levels{
  background-image: url(../assets/bgNewYear/bgNewYear.png);
}

@media (min-width: 1800px) {
  #app.chosenAppBg-2, .chosenAppBg-2 .game, .chosenAppBg-2 .levels{
    background-image: url(../assets/bgNewYear/bgNewYear-big.png);
  }
}

.chosenAppBg-2{
  .svgIcon{
    fill: #C21332;
  }
  .shop__cart__card .svgIcon{
    fill: #E40000;
  }
  .shop__cart__card .shop__cart__name{
    color: #E40000;
  }
  .shop__cart__buy-button{
    background: linear-gradient(264.82deg, #F74A00 2.88%, #E40000 96.18%);
    box-shadow: 0px 3px 0px #9a0000;
  }
  .levelsTop__allStars, .shop .rules__menu, .settings__text{
    color: #C21332;
  }
  .newElement, .menu__tip_count, .rules__goBg{
    background-color: #C21332;
  }
  .words__letters-block_done .words__letter, .action-block__letters .action-block__letter_selected{
    background-color: #E75858;
  }
  .rules__menu, .leaderBoardInfo_my .leaderBoardInfo__rank, .leaderBoardInfo_my .leaderBoardInfo__playerInfo, .startCreateGame{
    background-color: #C21332;
  }
  .shop, .rules, .leaderBoardInfo_my .leaderBoardInfo__image{
    border-color: #C21332;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #E75858;
  }
  .settings{
    border-color: #CE1E1E;
  }
  .checkbox:checked + label:after {
    background-color: #D64646;
  }
  .checkbox:checked + label:before {
    background: #F4B5B5;
  }

  .newWord .words__letter{
    background-color: #C21332;
  }
  .animWord .words__letter{
    animation: 1s showNewWord5 forwards;
  }
  @keyframes  showNewWord5{
    0%{background-color: rgba(255, 255, 255, 0.85);}
    100%{background-color: #C21332;}
  }
  .level .level_star{
    background-color: rgba(184, 177, 177, 0.83);
  }

  //Магазин
  .shop__cart__name{
    color: #CE1E1E;
    border-color: #CE1E1E;
  }
  .shop__cart__item{
    border-color: #CE1E1E;
  }

  .wordWas .words__letter{
    background-color: #701414;
  }

  .menu__hint{
    background-color: rgba(194, 19, 50, 0.9);
  }

  .levels .menu-star {
    background-color: #C21332;
  }
  .menu__level .level_full-star {
    background: url(../assets/bgNewYear/star.svg) center center no-repeat;
    background-size: 100%;
  }
  .menu__level .level_full-star.getStar{
    animation: showFullStar2 1s forwards;
  }
  @keyframes showFullStar2 {
    0%{
      transform: scale(1);
    }
    50%{
      transform: scale(2);
    }
    100%{
      transform: scale(1);
      background: url(../assets/bgNewYear/star.svg) center center no-repeat;
      background-size: 100%;
    }
  }

  .snowAnimation {
    display: block;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    //background-image: url("../assets/snow_1.png"), url("../assets/snow_2.png"), url("../assets/snow_3.png");
    //animation: snow 20s linear infinite;
  }

  @keyframes snow {
    0% {
      background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    100% {
      background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
  }
  .skipTutorial{
    background-color: #76101f;
  }
  .cloudHint{
    color: #E75858;
  }
  .cloudHint__mainText{
    color: #e03f3f;
  }
  .leaderBoardInfo__player, .lbInGame__player, .lbInGame__score{
    border-color: #E75858;
  }
  .done-word{
    color: black;
    text-shadow: 0 0 8px white;
  }

  .endGame__header, .endGame__nextLevel{
    background: linear-gradient(265.81deg, #F74A00 3.02%, #E40000 100.69%);
  }
  .endGame__firstPrize{
    fill: rgba(255, 77, 0, 1);
  }
  .endGame__secondPrize{
    fill: rgba(255, 0, 0, 1);
  }
  .endGame__menu{
    border-color: rgba(228, 0, 0, 1)
  }
  .endGame__firstStop{
    stop-color: rgba(246, 74, 0, 1);
  }
  .endGame__secondStop{
    stop-color: rgba(228, 0, 0, 1)
  }

  @media (orientation: portrait){
    .shop__cart__buy-button{
      background-color: #C21332;
    }
  }
}