@charset "UTF-8";
/*Новый год*/
.gameLocationWrapper-newYear::-webkit-scrollbar-thumb {
  background-color: #DC5E5E;
}

.gameLocationWrapper-newYear::-webkit-scrollbar-track {
  background-color: #e4ecf8;
  border-radius: 0;
}

.newYearLocation .popUp__locationPicture {
  background-image: url(../assets/locations/newYear/newYear.png);
}

.newYearLocation .popUp__locationName {
  color: #2486CD;
}

.gameLocation-newYear {
  background: url(../assets/locations/newYear/newYear-map.png) center center no-repeat;
  background-size: cover;
}
.gameLocation-newYear .svgIcon {
  fill: #DC5E5E;
}
.gameLocation-newYear .levelsTop__allStars {
  color: #DC5E5E;
}
.gameLocation-newYear .menu-star {
  background-color: #DC5E5E;
}
.gameLocation-newYear .newElement {
  background-color: #DC5E5E;
}

@media (min-width: 1000px) {
  .gameLocation-newYear .location__lastLevel {
    box-shadow: 0 0 25px 10px #DC5E5E;
  }
}
@media (orientation: portrait) {
  .gameLocation-newYear {
    background: url(../assets/locations/newYear/map_port.png) center center no-repeat;
    background-size: cover;
  }
}
/*Волшебство сказок*/
.gameLocationWrapper-magicTales::-webkit-scrollbar-thumb {
  background-color: #8963C7;
}

.gameLocationWrapper-magicTales::-webkit-scrollbar-track {
  background-color: #e4ecf8;
  border-radius: 0;
}

.magicTalesLocation .popUp__locationPicture {
  background-image: url(../assets/locations/magicTales/magicTales.png);
}

.magicTalesLocation .popUp__locationName {
  color: #8963C7;
}

.gameLocation-magicTales {
  background: url(../assets/locations/magicTales/map.png) center center no-repeat;
  background-size: cover;
}
.gameLocation-magicTales .svgIcon {
  fill: #8963C7;
}
.gameLocation-magicTales .levelsTop__allStars {
  color: #8963C7;
}
.gameLocation-magicTales .menu-star {
  background-color: #8963C7;
}
.gameLocation-magicTales .newElement {
  background-color: #8963C7;
}

.gameLocation-magicTales::-webkit-scrollbar-thumb {
  background-color: #8963C7;
}

@media (min-width: 1000px) {
  .gameLocation-magicTales .location__lastLevel {
    box-shadow: 0 0 25px 10px #8963C7;
  }
}
@media (orientation: portrait) {
  .gameLocation-magicTales {
    background: url(../assets/locations/magicTales/map_port.png) center center no-repeat;
    background-size: cover;
  }
}
/*Волшебство сказок*/
.gameLocationWrapper-animals::-webkit-scrollbar-thumb {
  background-color: #714A11;
}

.gameLocationWrapper-animals::-webkit-scrollbar-track {
  background-color: #e4ecf8;
  border-radius: 0;
}

.animalsLocation .popUp__locationPicture {
  background-image: url(../assets/locations/animals/animals.png);
}

.animalsLocation .popUp__locationName {
  color: #429F40;
}

.gameLocation-animals {
  background: url(../assets/locations/animals/map.png) center center no-repeat;
  background-size: cover;
}
.gameLocation-animals .svgIcon {
  fill: #714A11;
}
.gameLocation-animals .levelsTop__allStars {
  color: #714A11;
}
.gameLocation-animals .menu-star {
  background-color: #714A11;
}
.gameLocation-animals .newElement {
  background-color: #714A11;
}

.gameLocation-animals::-webkit-scrollbar-thumb {
  background-color: #714A11;
}

@media (min-width: 1000px) {
  .gameLocation-animals .location__lastLevel {
    box-shadow: 0 0 25px 10px #714A11;
  }
}
.gameLocation-animals .location__upLevel {
  top: 25%;
}

@media (orientation: portrait) {
  .gameLocation-animals {
    background: url(../assets/locations/animals/map_port.png) center center no-repeat;
    background-size: cover;
  }
}
/*Волшебство сказок*/
.gameLocationWrapper-eightMarch::-webkit-scrollbar-thumb {
  background-color: #8a3d93;
}

.gameLocationWrapper-eightMarch::-webkit-scrollbar-track {
  background-color: #e4ecf8;
  border-radius: 0;
}

.eightMarchLocation .popUp__locationPicture {
  background-image: url(../assets/locations/eightMarch/eightMarch.png);
}

.eightMarchLocation .popUp__locationName {
  color: #8a3d93;
}

.gameLocation-eightMarch {
  background: url(../assets/locations/eightMarch/map.png) center center no-repeat;
  background-size: cover;
}
.gameLocation-eightMarch .svgIcon {
  fill: #8a3d93;
}
.gameLocation-eightMarch .levelsTop__allStars {
  color: #8a3d93;
}
.gameLocation-eightMarch .menu-star {
  background-color: #8a3d93;
}
.gameLocation-eightMarch .newElement {
  background-color: #8a3d93;
}

.gameLocation-eightMarch::-webkit-scrollbar-thumb {
  background-color: #8a3d93;
}

@media (min-width: 1000px) {
  .gameLocation-eightMarch .location__lastLevel {
    box-shadow: 0 0 25px 10px #8a3d93;
  }
}
.gameLocation-eightMarch .location__upLevel {
  top: 25%;
}

@media (orientation: portrait) {
  .gameLocation-eightMarch {
    background: url(../assets/locations/eightMarch/map_port.png) center center no-repeat;
    background-size: cover;
  }
}
/*Волшебство сказок*/
.gameLocationWrapper-fbv::-webkit-scrollbar-thumb {
  background-color: #56349D;
}

.gameLocationWrapper-fbv::-webkit-scrollbar-track {
  background-color: #e4ecf8;
  border-radius: 0;
}

.fbvLocation .popUp__locationPicture {
  background-image: url(../assets/locations/fbv/fbv.png);
}

.fbvLocation .popUp__locationName {
  color: #56349D;
}

.gameLocation-fbv {
  background: url(../assets/locations/fbv/map.png) center center no-repeat;
  background-size: cover;
}
.gameLocation-fbv .svgIcon {
  fill: #56349D;
}
.gameLocation-fbv .levelsTop__allStars {
  color: #56349D;
}
.gameLocation-fbv .menu-star, .gameLocation-fbv .newElement {
  background-color: #56349D;
}

.gameLocation-fbv::-webkit-scrollbar-thumb {
  background-color: #56349D;
}

@media (min-width: 1000px) {
  .gameLocation-fbv .location__lastLevel {
    box-shadow: 0 0 25px 10px #56349D;
  }
}
.gameLocation-fbv .location__upLevel {
  top: 25%;
}

@media (orientation: portrait) {
  .gameLocation-fbv {
    background: url(../assets/locations/fbv/map_port.png) center center no-repeat;
    background-size: cover;
  }
}
/*Волшебство сказок*/
.gameLocationWrapper-birds::-webkit-scrollbar-thumb {
  background-color: #8F63C7;
}

.gameLocationWrapper-birds::-webkit-scrollbar-track {
  background-color: #e4ecf8;
  border-radius: 0;
}

.birdsLocation .popUp__locationPicture {
  background-image: url(../assets/locations/birds/birds.png);
}

.birdsLocation .popUp__locationName {
  color: #3E2D4C;
}

.gameLocation-birds {
  background: url(../assets/locations/birds/map.png) center center no-repeat;
  background-size: cover;
}
.gameLocation-birds .svgIcon {
  fill: #8F63C7;
}
.gameLocation-birds .levelsTop__allStars {
  color: #8F63C7;
}
.gameLocation-birds .menu-star, .gameLocation-birds .newElement {
  background-color: #8F63C7;
}

.gameLocation-birds::-webkit-scrollbar-thumb {
  background-color: #8F63C7;
}

@media (min-width: 1000px) {
  .gameLocation-birds .location__lastLevel {
    box-shadow: 0 0 25px 10px #8F63C7;
  }
}
.gameLocation-birds .location__upLevel {
  top: 25%;
}

@media (orientation: portrait) {
  .gameLocation-birds {
    background: url(../assets/locations/birds/map_port.png) center center no-repeat;
    background-size: cover;
  }
}
/*Волшебство сказок*/
.gameLocationWrapper-cinema::-webkit-scrollbar-thumb {
  background-color: #9C0F0F;
}

.gameLocationWrapper-cinema::-webkit-scrollbar-track {
  background-color: #e4ecf8;
  border-radius: 0;
}

.cinemaLocation .popUp__locationPicture {
  background-image: url(../assets/locations/cinema/cinema.png);
}

.cinemaLocation .popUp__locationName {
  color: #9C0F0F;
}

.gameLocation-cinema {
  background: url(../assets/locations/cinema/map.png) center center no-repeat;
  background-size: cover;
}
.gameLocation-cinema .svgIcon {
  fill: #9C0F0F;
}
.gameLocation-cinema .levelsTop__allStars {
  color: #9C0F0F;
}
.gameLocation-cinema .menu-star, .gameLocation-cinema .newElement {
  background-color: #DD0000;
}

.gameLocation-cinema::-webkit-scrollbar-thumb {
  background-color: #9C0F0F;
}

@media (min-width: 1000px) {
  .gameLocation-cinema .location__lastLevel {
    box-shadow: 0 0 25px 10px #9C0F0F;
  }
}
.gameLocation-cinema .location__upLevel {
  top: 25%;
}

@media (orientation: portrait) {
  .gameLocation-cinema {
    background: url(../assets/locations/cinema/map_port.png) center center no-repeat;
    background-size: cover;
  }
}
/*Волшебство сказок*/
.gameLocationWrapper-event::-webkit-scrollbar-thumb, .levels-wrapper::-webkit-scrollbar-thumb {
  background-color: #C05252;
}

.gameLocationWrapper-event::-webkit-scrollbar-track {
  background-color: #e4ecf8;
  border-radius: 0;
}

.eventLocation .popUp__locationPicture {
  background-image: url(../assets/locations/event/event.png);
}

.eventLocation .popUp__locationName {
  color: #C05252;
}

.gameLocation-event {
  background: url(../assets/locations/event/map.png) center center no-repeat;
  background-size: cover;
}
.gameLocation-event .svgIcon {
  fill: #C05252;
}
.gameLocation-event .levelsTop__allStars {
  color: #C05252;
}
.gameLocation-event .menu-star, .gameLocation-event .newElement {
  background-color: #d22f2f;
}
.gameLocation-event .eventProperty {
  background: url(../assets/locations/event/map.png) center center no-repeat;
  background-size: cover;
}

.gameLocationWrapper-event .rules__menu {
  background-color: #C05252;
}
.gameLocationWrapper-event .rules .settings__text {
  color: #C05252;
}
.gameLocationWrapper-event .rules .svgIcon {
  fill: #C05252;
}

.gameLocation-event::-webkit-scrollbar-thumb {
  background-color: #C05252;
}

@media (min-width: 1000px) {
  .gameLocation-event .location__lastLevel {
    box-shadow: 0 0 25px 10px #C05252;
  }
}
@media (orientation: portrait) {
  .gameLocation-event, .gameLocation-event .eventProperty {
    background: url(../assets/locations/event/map_port.png) center center no-repeat;
    background-size: cover;
  }
}
.locationOpened {
  overflow: auto !important;
}

.popUp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  z-index: 12;
  max-width: 95%;
}

.popUp__header {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.popUp__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  font-size: 2rem;
  color: #2B2B2B;
  background: #FFFFFF;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.27);
  height: 40px;
  border-radius: 20px;
  font-weight: bold;
}

.popUp__close {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url(../assets/blackCross.svg) center center no-repeat, white;
  background-size: 50%;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.27);
  cursor: pointer;
}

.popUp__elements {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 10px;
}

.popUp__location {
  flex: 0 0 auto;
  height: 240px;
  width: 140px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  margin-right: 40px;
  cursor: pointer;
}

.popUp__elements .popUp__location:last-child {
  margin: 0;
}

.popUp__locationPicture {
  position: relative;
  background: url(../assets/locations/closedLocation.png) center center no-repeat;
  background-size: 100%;
  width: 100%;
  height: 184px;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.popUp__locationStars {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  color: white;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.popUp__locationName {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.6rem;
  height: 56px;
  font-size: 1.5rem;
  color: #737373;
}

.closedLocation {
  cursor: auto;
}

@media (min-width: 1000px) {
  .popUp {
    width: 800px;
  }

  .popUp__header {
    margin-bottom: 40px;
  }

  .popUp__title {
    width: 240px;
    height: 60px;
    font-size: 2.8rem;
  }

  .popUp__close {
    width: 60px;
    height: 60px;
  }

  .popUp__location {
    width: 240px;
    height: 380px;
  }

  .popUp__locationPicture {
    height: 280px;
  }

  .popUp__locationStars {
    font-size: 2.5rem;
  }

  .popUp__locationName {
    height: 100px;
    font-size: 2.4rem;
    line-height: 2.6rem;
  }
}
/*Локация*/
.location {
  position: relative;
  width: 300%;
  height: 100%;
  overflow-x: auto;
  cursor: pointer;
  margin-right: 100px;
}

.location .menu__button-back {
  display: inline-block;
}

.location .level_close {
  cursor: auto;
}

.location .levelsTop {
  position: fixed;
}

.location__level {
  position: absolute;
  top: 57%;
}

.location__upLevel {
  top: 35%;
}

.locationOpened .rules-blackout, .locationOpened .popUp, .locationOpened .shop, .locationOpened .blurBackground, .locationOpened .game {
  position: fixed;
}

.location .levelsTop .switchShowLocation {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2) !important;
}

@media (min-width: 1600px) {
  .location__level {
    width: 120px;
    height: 120px;
    font-size: 6rem;
  }

  .location__level .level_star {
    width: 20px;
    height: 20px;
  }

  .location__level .menu__level_stars {
    bottom: -27px;
  }

  .location .newElement {
    width: 39px;
    height: 39px;
  }

  .location .newElement__circle {
    width: 13px;
    height: 13px;
  }
}
@media (orientation: portrait) {
  .location {
    height: 300%;
    width: 100%;
  }

  .location__level {
    top: auto !important;
    left: 57% !important;
  }

  .location__upLevel {
    top: auto !important;
    left: 27% !important;
  }

  .location .bottomMenu {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}

/*# sourceMappingURL=stylesLocations.css.map */
