@charset "UTF-8";
/*Фон Валентин*/
#app.chosenAppBg5, .chosenAppBg5 .game, .chosenAppBg5 .levels {
  background-image: url(../assets/bgGreen/bgGreen.png);
}

.chosenAppBg5 .svgIcon {
  fill: #0B7341;
}
.chosenAppBg5 .shop__cart__card .svgIcon {
  fill: #16CA73;
}
.chosenAppBg5 .shop__cart__card .shop__cart__name {
  color: #16CA73;
}
.chosenAppBg5 .shop__cart__buy-button {
  background: linear-gradient(264.82deg, #10E0A2 2.88%, #1EB26B 96.18%);
  box-shadow: 0px 3px 0px #267A42;
}
.chosenAppBg5 .levelsTop__allStars {
  color: #0B7341;
}
.chosenAppBg5 .newElement, .chosenAppBg5 .levels .menu-star {
  background-color: #16CA73;
}
.chosenAppBg5 .words__letters-block_done .words__letter, .chosenAppBg5 .action-block__letters .action-block__letter_selected {
  background-color: #14A861;
  color: white;
}
.chosenAppBg5 .menu__tip_count, .chosenAppBg5 .rules__goBg {
  background-color: #0B7341;
}
.chosenAppBg5 .rules__menu, .chosenAppBg5 .leaderBoardInfo_my .leaderBoardInfo__rank, .chosenAppBg5 .leaderBoardInfo_my .leaderBoardInfo__playerInfo, .chosenAppBg5 .startCreateGame {
  background-color: #0B7341;
}
.chosenAppBg5 .shop, .chosenAppBg5 .rules, .chosenAppBg5 .leaderBoardInfo_my .leaderBoardInfo__image {
  border-color: #0B7341;
}
.chosenAppBg5 .shop .rules__menu, .chosenAppBg5 .settings__text {
  color: #0B7341;
}
.chosenAppBg5 ::-webkit-scrollbar-thumb {
  background-color: #16CA73;
}
.chosenAppBg5 .settings {
  border-color: #0B7341;
}
.chosenAppBg5 .checkbox:checked + label:after {
  background: #179357;
}
.chosenAppBg5 .checkbox:checked + label:before {
  background-color: #1bde80;
}
.chosenAppBg5 .newWord .words__letter {
  background-color: #006c37;
}
.chosenAppBg5 .animWord .words__letter {
  animation: 1s showNewWord9 forwards;
}
@keyframes showNewWord9 {
  0% {
    background-color: rgba(255, 255, 255, 0.85);
  }
  100% {
    background-color: #006c37;
  }
}
.chosenAppBg5 .shop__cart__name {
  color: #1bc481;
  border-color: #0B7341;
}
.chosenAppBg5 .shop__cart__item {
  border-color: #0B7341;
}
.chosenAppBg5 .wordWas .words__letter {
  background-color: #054c2c;
}
.chosenAppBg5 .menu__hint {
  background-color: rgba(11, 115, 65, 0.9);
}
.chosenAppBg5 .skipTutorial {
  background-color: #16CA73;
}
.chosenAppBg5 .cloudHint {
  color: #16CA73;
}
.chosenAppBg5 .cloudHint__mainText {
  color: #16CA73;
}
.chosenAppBg5 .leaderBoardInfo__player, .chosenAppBg5 .lbInGame__player, .chosenAppBg5 .lbInGame__score {
  border-color: #16CA73;
}
.chosenAppBg5 .endGame__header, .chosenAppBg5 .endGame__nextLevel {
  background: linear-gradient(265.01deg, #00BB61 6.23%, #009821 97.6%);
}
.chosenAppBg5 .endGame__firstPrize {
  fill: #01af4b;
}
.chosenAppBg5 .endGame__secondPrize {
  fill: #16ca73;
}
.chosenAppBg5 .endGame__menu {
  border-color: #009821;
}
.chosenAppBg5 .endGame__firstStop {
  stop-color: #00bb61;
}
.chosenAppBg5 .endGame__secondStop {
  stop-color: #009821;
}
@media (orientation: portrait) {
  .chosenAppBg5 .shop__cart__buy-button {
    background-color: #0B7341;
  }
}
.chosenAppBg5 .action-block__letter {
  color: #003118;
}
@media (max-width: 1400px) {
  .chosenAppBg5 .blur {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

@media (orientation: portrait) {
  #app.chosenAppBg5, .chosenAppBg5 .game, .chosenAppBg5 .levels {
    background-image: url(../assets/bgGreen/bgVertical.png);
  }
}

/*# sourceMappingURL=stylesGreen.css.map */
