
/*Фон 1*/


#app.chosenAppBg1, .chosenAppBg1 .game, .chosenAppBg1 .levels{
  background-image: url(assets/bg1/bg1.png);
}

@media (min-width: 1800px) {
  #app.chosenAppBg1, .chosenAppBg1 .game, .chosenAppBg1 .levels{
    background-image: url(assets/bg1/bg1-big.png);
  }
}
.chosenAppBg1{
  .levelsTop__allStars{
    color: #4E2406;
  }
  .leaderBoard{
    background-image: url(assets/bg1/leader.svg);
  }
  .switchShop{
    background-image: url(assets/bg1/shop.svg);
  }
  .switchShowLocation{
    background-image: url(assets/bg1/locations.svg);
  }
  .newElement{
    background-color: #6E3208;
  }
  .words__letters-block_done .words__letter, .action-block__letters .action-block__letter_selected{
    background-color: #F69A5A;
  }
  .menu__button-back{
    background-image: url(assets/bg1/home.svg);
  }
  .menu__tip{
    background-image: url(assets/bg1/tip.svg);
  }
  .menu__tip_count, .rules__goBg{
    background-color: #6E3208;
  }
  .shop, .rules{
    border-color: #6E3208;
  }
  .shop .rules__menu, .settings__text{
    color: #6d3208;
  }
  .rules__cross{
    background-image: url(assets/bg1/cross.svg);
  }
  .menu__button-next-level_active{
    background-image: url(assets/bg1/arrow.svg);
  }
  .switchSettings{
    background-image: url(assets/bg1/settings.svg);
  }
  ::-webkit-scrollbar-thumb {
    background-color: #DE8858;
  }
  .settings{
    border-color: #DE8858;
  }
  .checkbox:checked + label:after {
    background-color: #DE8858;
  }
  .checkbox:checked + label:before {
    background: #F4CFB5;
  }

  .newWord .words__letter{
    background-color: #F6765A;
  }
  .animWord .words__letter{
    animation: 1s showNewWord1 forwards;
  }
  @keyframes  showNewWord1{
    0%{background-color: rgba(255, 255, 255, 0.85);}
    100%{background-color: #F6765A;}
  }

  //Магазин
  .shop__cart__item_2{
    background-image: url(assets/bg1/cart1.svg);
  }
  .shop__cart__item_3{
    background-image: url(assets/bg1/cart2.svg);
  }
  .shop__cart__item_4{
    background-image: url(assets/bg1/cart3.svg);
  }
  .shop__cart__name{
    color: #6d3208;
    border-color: #6d3208;
  }
  .shop__cart__item{
    border-color: #6d3208;
  }

  .wordWas .words__letter{
    background-color: #bd550c;
  }

  .menu__hint{
    background-color: rgba(109, 50, 8, 0.9);
  }
  .leaderBoardInfo__player{
    border-color: #bd550c;
  }

}